@import url(font.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Montserrat: "Montserrat", sans-serif;
    --white: hsl(0, 0%, 100%);
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    --Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
    --Purple:hsl(237, 63%, 64%);
}
body {
    display: flex;
    gap: 60px;
    flex-direction: column;
    padding-top: 120px;
    margin: auto;
    width: 1440px;
    height: 1000px;
    background-color: var(--Very-Light-Grayish-Blue);
    background-repeat: no-repeat;
    background-image: 
        url(images/bg-bottom.svg),
        url(images/bg-top.svg);
    background-position: bottom left, top right;
    background-size: auto  50%, auto 80%;
    }
header {
    color: var(--Light-Grayish-Blue);
    display: flex;
    gap: 45px;
    flex-direction: column;
    text-align: center;

    & .maskHead {
        color: var(--Grayish-Blue);
        font-family: var(--Montserrat);
        font-weight: 700;
        font-size: 35px;
        margin: auto;
        width: 200px;
    }
    & nav {
        font-family: var(--Montserrat);
        font-weight: 700;
        font-size: 15px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        & .circleBox {
            width: 50px;
            height: 30px;

            & .switchBtn {
                display: none;
            }
            & .circle {
                display: block;
                position: absolute;
                width: 50px;
                height: 30px;
                background: var(--Purple);
                border-radius: 15px;
                cursor: pointer;

                &:hover {
                    opacity: 50%;
                }
            }
            & .switchBtn:checked + .circle {
                background-color: var(--Purple);
            }
            & .circle::after {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                background-color: white;
                border-radius: 50%;
                position: absolute;
                top: 3px;
                left: 3px;
                transition: 0.3s;
            }
            & .switchBtn:checked + .circle::after {
                transform: translateX(20px);
            }
                        
        }

    }
}

.container {
    font-family: var(--Montserrat);
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    & .box {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        
        & .dollarPrice {
            display: flex;
            align-items: center;
            & p {
                font-size: 40px;
            }
            & .price {
                font-size: 70px;
            }

        }



        & .text {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            & span:first-child {
                border-top: 1px solid var(--Light-Grayish-Blue);
            }
            & span {
                padding: 18px 0;
                border-bottom: 1px solid var(--Light-Grayish-Blue);
            }
        }
        & .btn {
            border-radius: 5px;
            border: 0;
            font-weight: 700px;
            height: 42px;
            width: 82%;
            cursor: pointer;

            & p {
                letter-spacing: 3px;
                font-weight: 700;
            }
        }
    }
    & .box-Purple {
        border-radius: 10px;
        padding: 45px 0;
        color: var(--white);
        background: linear-gradient(to bottom, var(--Linear-Gradient));
        height: 500px;
        width: 350px;
        & .btn {
            color: var(--Purple);
            background-color: var(--white);

            &:hover {
                background-clip: text;
                border: 1px solid var(--white);
                color: transparent;
            }
        }
    }
    & .box-White {
        border-radius: 10px;
        padding: 20px 0;
        color: var(--Dark-Grayish-Blue);
        background-color: var(--white);
        width: 350px;
        height: 450px;

        & .btn {
            color: var(--white);
            background: linear-gradient(to right, var(--Linear-Gradient));

            &:hover {
                background-clip: text;
                border: 1px solid var(--Purple);
                color: transparent;
            }
        }
    }

}
@media (max-width: 800px) {
    body {
        background-size: auto  20%, auto 30%;
        height: 100%;
        width: 100%;
    }
    .container {
        font-family: var(--Montserrat);
        font-weight: 100%;
        display: grid;

    }
}


